h1{
    color: #73C7C7;
    padding-bottom: 15px;
}

button{
    background-color: #F4F8D3;
    border: none;
    color: black;
    box-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.15);
}

button:hover{
    background-color: #73C7C7;
}

.card{
    cursor: pointer;
}


