.navbar {
    background-color: #73C7C7; /* Green color */
}

.nav-item{
    cursor: pointer;
    a{
        color: black;
    }
    a:hover{
        color: white;
    }
}

.navbar-brand{
    cursor: pointer;
}